*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #40e5f4;
}

.khung{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 20px;


}

.khung .bieumaus{
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}


.khung .bieumau{
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}

.khung.active .dangnhap{
    margin-left: -50%;
    opacity: 0; 
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.khung .dangky{
    opacity: 0;
    transition: opacity 0.09s ease;
}
.khung.active .dangky{
    opacity: 1;
    transition: opacity 0.2s ease;
}

.khung.active .bieumaus{
    height: 600px;
}
.khung .bieumau .tieude{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.bieumau .tieude::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #40a3f4;
    border-radius: 25px;
}

.bieumau .truongnhap{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.truongnhap input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.truongnhap input:is(:focus, :valid){
    border-bottom-color: #4070f4;
}

.truongnhap i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.truongnhap input:is(:focus, :valid) ~ i{
    color: #4070f4;
}

.truongnhap i.icon{
    left: 0;
}
.truongnhap i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.bieumau .chu{
    color: #333;
    font-size: 14px;
}

.bieumau a.chu{
    color: #f44070;
    text-decoration: none;
}
.bieumau a:hover{
    text-decoration: underline;
}

.bieumau .button{
    margin-top: 35px;
}

.bieumau .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover{
    background-color: #265df2;
}

.bieumau .dangnhap-dangky{
    margin-top: 30px;
    text-align: center;
}
.loi{
	margin-top: 10px;
	color: #ff8471;
	font-size: 14px;
}
