.content {
    min-height: 100vh;
}
.danh_sach_san_pham {
    flex: 1 1 0%; 
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
.san_pham {    
 position: relative;
 display: flex;
 flex-direction: column;
 padding: 3px;
 border-radius:2.5rem;
}
.noi_dung_san_pham {
    flex: 1 1 0%;
    display: flex; 
    position: relative; 
    z-index: 30; 
    padding: 2rem; 
    margin: 1.25rem; 
    background-color: #ffffff; 
    display: flex; 
    flex-direction: column; 
    border-radius: 0.375rem; 
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
}
.ghi_chu {
    position: absolute; 
    top: 0.5rem; 
    right: 0.5rem; 
    color: #9CA3AF; 
    font-size: 0.75rem;
    line-height: 1rem; 
    font-style: italic; 
}

.anh_minh_hoa_san_pham {
    width: 150px; 
    height: 150px;
}

.can_le {
    height: 100%;    
    flex-grow: 1;
    flex-shrink: 1;
}
.mo_ta_san_pham {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; 
}
.gia_san_pham {
    margin-bottom: 1.25rem;
    font-weight: bold;
}
.nut_them_vao_gio_hang {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem; 
    padding-left: 1.25rem;
    padding-right: 1.25rem; 
    border-radius: 0.375rem; 
    border-width: 1px; 
    border-color: #E5E7EB; 
    background-color: #94d4c873;
}
.nut_them_vao_gio_hang:hover {
    background-color: #009f7f;
    color: whitesmoke
}


.disabled {
    pointer-events: none;
    cursor: default;
    background-color: #9CA3AF !important;
}


