.space-x-2 > * + * {
  margin-left: 0.5rem; /* 8px */
}
.rounded-sm {
  border-radius: 4px;
}
.rounded-lg {
  border-radius: 12px;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.relative {
  position: relative;
}

.table {
  display: table;
}

.w-full {
  width: 100%;
}

.overflow-x-auto {
  overflow-x: auto;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.border-b {
  border-bottom-width: 1px;
}

.bg-gray-50 {
  
  background-color: rgb(249 250 251);
}

.bg-white {
  
  background-color: rgb(255 255 255);
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-medium {
  font-weight: 500;
}

.uppercase {
  text-transform: uppercase;
}

.text-gray-500 {

  color: rgb(107 114 128);
}

.text-gray-700 {

  color: rgb(55 65 81);
}

.text-gray-900 {

  color: rgb(17 24 39);
}

.text-blue-600 {

  color: rgb(37 99 235);
}


.hover\:bg-gray-50:hover {
  
  background-color: rgb(249 250 251);
}

.hover\:underline:hover {
  text-decoration-line: underline;
}



@media (min-width: 640px) {
  .sm\:rounded-lg {
    border-radius: 0.5rem;
  }
}


  /* CSS */
.nutbtn {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.nutbtn:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.nutbtn:hover {
  background-color: #2c974b;
}

.nutbtn:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.nutbtn:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.nutbtn:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

#thongbao {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: rgb(65, 92, 75);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 99999;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  border-radius: 8px;
}

#thongbao.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}