<div class="bieu-tuong">
  <a href="/"><img src="https://cdn-icons-png.flaticon.com/512/4163/4163765.png" alt="thuc pham"></a>
  <!-- Menu ds các loại mặt hàng -->
  <div class="danhmuc">
    <button class="danhmuc-nut" onclick="hienThiDanhMuc()">Danh mục
    </button>
    <div class="danhmuc-noidung" id="danhmuc-nd">
      
    </div>
  </div>
</div>
<div class="tim-kiem">
  <form onsubmit="handleSearch(event)">
    <div>
      <input id="search" name="search" placeholder="Tìm kiếm sản phẩm bạn muốn tại đây" value="" />
      <button type="submit" hidden></button>
    </div> 
  </form>
</div>
<ul class="dieu-huong">
  <li>
    <a class="" href="/dsdonhang.html">DS Đơn hàng</a>
  </li>
  <li>
    <a class="" href="/lienhe.html">Liên hệ</a>
  </li>
</ul>
<div class="dieu-huong-phai space-x-2">
  <div class="bieu_tuong_gio_hang">
    <a href="/giohang.html">
      <img class="dieuhuong"
        src="https://thumbs.dreamstime.com/b/shopping-cart-icon-trolley-icon-shopping-cart-icon-trolley-icon-vector-illustration-isolated-white-background-163727286.jpg"
        alt="">
      <div id="gioHangSL" class='giohang-soluong'></div>
    </a>
  </div>
  <div id="btnDangNhap" class="nut-dang-nhap">
    <div>
      <button class="space-x-2" onclick="logout()">
        <img class="dieuhuong" src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" alt="">
        <span id="username">username</span>
      </button>
    </div>
  </div>
</div>